.intro
  width 100%
  position relative
  overflow hidden
  display block
  // background-color black

  &__copy
    position absolute
    padding 20px
    width 100%
    bottom 0
    z-index 10
    // background-color rgba(0,0,0,0.5)
    display block
    animation title 10s ease-in


  &__hero
    width 100%

  &__image
    transform scale3d(1.5,1.5,1)
    margin 0 auto

    .intro--loaded &
      transform initial
      animation zoomout 30s


  &__hed
    font-size 2em
    color white
    text-shadow 1px 1px 1px #000
    z-index 10
    margin-top 0
    margin-bottom 0
    font-weight normal

  &__subhed
    font-size 1em
    color white
    text-shadow 1px 1px 1px #000
    z-index 10

  &__credit
    display none

  &__gradient
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    width 100%
    height 100%
    background linear-gradient(45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 49%,rgba(0,0,0,0) 100%)
    z-index 5

  +mq(bp-2-5)
    &__hed
      font-size 5em

    &__subhead
      font-size 1.5em

    &__image
      transform scale3d(1.25,1.25,1)

      .intro--loaded &
        transform initial
        animation zoomout-desktop 30s forwards


@keyframes zoomout {
  0% {
  	transform scale3d(1.5,1.5,1)
  }
  100 {
    transform scale3d(1)
  }
}

@keyframes zoomout-desktop {
  0% {
  	transform scale3d(1.25,1.25,1)
  }
  100 {
    transform scale3d(1)
  }
}

@keyframes title {
  from {
    opacity 0
  }
  to {
    opacity 1
  }
}
