//=======================
// Custom styles
//=======================

// To use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

// See `base` folder for variables (color, font, media queries)

i 
	font-style italic
section
	&:after
		content ""
		display block
		height 0
		border-bottom 3px solid $gray-medium
		width 70px
		margin 3rem auto 1rem
	p
		font-family $serif
		font-size 18px
		line-height 1.9rem
		margin 1rem 20px

.ad-slot 
	margin 25px 0
	padding-top 0
	
	&__overline
		margin-top: .5em
		
.preface
	&__credits
		margin 1rem auto
		text-align center
		
		&:after
			content ""
			display block
			height 0
			border-bottom 3px solid $gray-medium
			width 70px
			margin 2rem auto
		
		p
			color $black-hed
			font-size .9rem
			font-family $sans
			font-weight 400
			line-height 1.4rem
			margin 0 auto
			
		strong
			font-weight bold
			
	
@media only screen and (min-width: 768px)
	.ad-slot 
		margin 50px 0
		
	section 
		p
			margin 1rem auto
			max-width 700px