//=======================
// Custom styles
//=======================

// To use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

// See `base` folder for variables (color, font, media queries)
section
	p
		font-family $serif
		line-height 1.6rem
		margin 1rem 20px
	
@media only screen and (min-width: 768px)
	section 
		p
			margin 1rem auto
			max-width 700px