.audio
	display none
	
	&:hover
		cursor hand
		cursor pointer
		z-index 999
			
	&__playing
		.audio
			&__on
				display inline-block
			&__off
				display none
	
	&__paused
		.audio
			&__on
				display none
			&__off
				display inline-block
			
	svg 
		fill rgba(255,255,255,.5)
		
@media only screen and (min-width: 768px)
	.audio
		display inline-block
		position absolute
		top 10px
		right 10px

		