.audio
	&:hover
		cursor hand
		cursor pointer
		z-index 999
			
	&__playing
		.audio
			&__on
				display inline-block
			&__off
				display none
	
	&__paused
		.audio
			&__on
				display none
			&__off
				display inline-block
			
	svg 
		fill rgba(255,255,255,.5)
	