.photo	
	&__container
		padding-bottom 25px
			
	&__caption
		color $gray-medium
		font-family $sans
		font-size .8rem
		line-height 1.2rem
		padding 0 10px
		
@media only screen and (min-width: 768px) 
	.photo
		&__container
			padding 12px
			
			&:first-child
				padding-left 0
				
			&:last-child
				padding-right 0

	.triptych
		flex-grid(3, 'photo__container')