.photo	
	&__container
		padding-bottom 40px
		
		&--fullwidth
			padding 15px 0 5px
			
	&__attribution
		color $gray
		font-family $sans
		font-weight bold
		
	&__caption
		color $gray-medium
		font-size .8rem
		line-height 1.2rem
		margin 5px auto
		padding 0 5px

.photo-quotes
	text-align center

	.photo__container
		&:last-child
			padding-bottom 0
			
	&__container
		padding-bottom 30px
		
		&:last-child 
			padding-bottom 0

	.photo	
		&__caption
			color $black-hed
			font-family $serif
			font-weight 400
			font-size 1.2rem
			font-style italic
			line-height 1.7rem
			padding 5px 15px
			
		&__attribution
			font-size 1rem
			margin .3rem auto

.photo-diptych, .triptych
	.photo	
		&__container
			padding 15px 0 5px

@media only screen and (min-width: 768px) 
	.photo-quotes
		margin 50px 0
	.photo 
		&__caption
			padding 0
			
		&__fullwidth
			padding 25px 0 5px
			
	.photo-diptych
		flex-grid(2, 'photo__container')

	.triptych
		flex-grid(3, 'photo__container')
		
	.photo-diptych, .triptych
		.photo	
			&__container
				box-sizing border-box
				padding 30px 4px 25px
				flex-grow 1
							
				&:first-child
					padding-left 0
					padding-right 8px
					
				&:last-child
					padding-right 0
					padding-left 8px
					
@media only screen and (min-width: 990px) 
	.photo-quotes
				
		&__container
			padding-bottom 0
			&:last-child
				padding-bottom 0
				
				.photo__container
						padding-bottom 0
					
			.photo__container
				flex-grid(2, 'photo__container--child')
				align-items center
				justify-content center
				padding 0
				
			&:nth-child(2n)
				.photo__container
					flex-direction row-reverse
			
		.photo	
			&__figcaption
				padding 0 40px
				
			&__caption
				font-size 1.2rem
				line-height 1.8rem
