.photo	
	&__container
		padding-bottom 25px
		
		&--fullwidth
			padding 25px 0 5px
			
	&__caption
		color $gray-medium
		font-family $sans
		font-size .8rem
		line-height 1.2rem
		
@media only screen and (min-width: 768px) 
	.triptych
		flex-grid(3, 'photo__container')
		
		.photo
			&__container
				padding 12px
				
				&:first-child
					padding-left 0
					
				&:last-child
					padding-right 0

			&__caption
				padding 0 10px
