.video
	position relative
	z-index 1
	
	&__audio
		display none
		
	&__container	
		margin 50px 0 25px
		position relative
		z-index 50
		
	&__hed
		color $gray-light
		font-size 7vw
		position absolute
		bottom 10px
		left 10px
		z-index 99

	&__player
		display none
	
@media only screen and (min-width: 768px)
	.video
		&__container
			margin 50px 0
			
		&__fallback
			display none
		
		&__player
			display block
		
		&__audio
			display block
			position absolute
			top 25px
			right 25px 
			z-index 99
			
		&__hed
			font-size 3rem
			left 40px
			bottom 20px