{{> base/base-video 
	hed="Baltimore"
	class="audio-baltimore"
	audio-src="assets/sound/domino.mp3"
	webm="assets/video/domino.webm"
	mp4="assets/video/domino.mp4"
}}

<p>In Baltimore, 16-year old Rastehuti Missouri remembers watching the news — and his social media — at home as it showed the flames of a burning city illuminate night skies in Ferguson. Throngs of people stood before police in riot gear, clutching “nonlethal” rifles and wielding shields in defiance and protest. He remembers telling his mother: “That could never happen in Baltimore.”</p>

<p>Until it did.</p>

<p>Freddie Gray died,some seven months after Brown, suffering a spinal cord injury while in police custody.</p>

<p>Like Ferguson, Baltimore would be placed under a citywide curfew, and the disobedient were met with smoke bombs and pepper spray pellets. Scenes played out “like something out of a movie,” said 19-year-old Na’im Smith, whose high school in Northwest Baltimore, near Mondawmin Mall, was locked down.</p>

{{> photos/baltimore-diptych }}

<p>A swat team rushed inside, he said, and escorted students out. A city bus took him away from the tension but the drama followed him home. Eventually, a military Humvee parked at the end of his street. That’s when the seriousness of the situation began to set in.</p>

<p>Obama did not withhold his contempt for Baltimore’s rioters, calling them “criminals and thugs.” Smith said those words from “my president” upset him. His anger, however, was not necessarily directed at Obama but how people responded to his words.</p> 

<p>“Let’s just be real. He’s not calling everybody hoodlums,” the high school senior said. “Let’s focus on the fact that we have these issues.”</p> 

<p>For Rastehuti Missouri, the severity of the situation became all too real when the vacant buildings surrounding his family’s home began to burn, he said.</p>

<p>Still, he said, there was a point to the madness: to let people know how “crazy the city actually was.” People weren’t burning down buildings simply to cause mayhem, even if that’s what some adults think. </p>

<p>“They would consider what we did a riot, where I would consider it an uprising, showing we had a voice,” Missouri said. 
Police, he said, are “supposed to protect and serve.”</p>

<p>Smith said the problem stems from “a wide range of things . . . from [police] leadership on down to the specific officer and training . . . to funding.”</p>
<p>Some officers, he added are just “bad tempered.” </p>

<p>Watching his city burn made him double down on his dream of becoming a police officer after graduation. He sees law enforcement as an act of service to his community — a ministry of sorts. Officers often interact with people at their lowest moments, and he sees the badge as an opportunity to bring encouragement and resources to those in need. </p>

<p>If enough young people with this mindset join the police academy, then “now all of a sudden there’s a shift in the way police officers handle themselves,” he said. “I get frustrated when I hear so many people talk about how they hate police. Well, if you’re well-abled, why not help change it?”</p>

{{> base/base-video 
	class="audio-freddy"
	audio-src="assets/sound/freddie-gray-mural.mp3"
	webm="assets/video/freddie-gray.webm"
	mp4="assets/video/freddie-gray.mp4"
}}

<p>That’s not to say he doesn’t worry about putting on the uniform. But his anxieties don’t come from fear of retribution by his community, although he said friends often joke, “I’m a stop messing with you. You going to be the feds.” </p>

<p>No, he worries about the country’s next commander-in-chief. </p>

<p>There’s no trust there for Smith, who says Trump has no filter, expressing the first thing that comes to mind — often in 140 character bursts on Twitter. Could a flippant statement become an unofficial directive, unleashing civil unrest? What happens if that directive conflicts with Smith’s personal moral code, but he’s forced to follow through as an officer of the law? </p>

<p>“After he was elected, I began to get worried,” Smith said. Trump’s campaign tapped into something caustic, dividing the country in a way that he fears will cause our nation to turn on itself. “What is the world going to look like in the next four years?” he wonders.</p>

<p>If Trump is still in the White House four years from now, 13-year-old Jamal Karim said he’s going to “try my best to get him out of there” and make sure that people who know nothing about politics “don’t get to just walk up in here because they have money.”</p>

{{> photos/baltimore-quadrych }}

<p>“Being president, that’s some serious stuff right there,” the middle school student said.</p>

<p>His Lakeland Elementary/Middle School classmates agree, fearing that the country is “getting ready to go back to the old ways” — the times before Obama, when they said black people were looked at as less than equal.</p>

<p>“They looked at us like we was some monkeys, like we wasn’t people,” Neviah Perkins, 13, said.</p>

<p>“Like we just had dirt on our skin,” interjected 13-year-old Jaziah Gilbert.</p>

<p>“Like we wasn’t nothing,” Perkins’s little brother, 12-year-old Ahmaree Perkins, concluded. </p>

<p>Neviah Perkins said Obama “made our race look . . . beautiful.” No one had ever seen a black man sitting in the White House, calling the shots, “and that scared them,” she said.</p>

<p>They aren’t quite as convinced as Karim that they have the power to continue Obama’s momentum and slow Trump’s tide, but the feisty eighth-grader, who has yet to hit his teenage growth spurt, persists. More young people need to speak out to get people’s attention, he said.</p>

<p>“If we got their attention before, [we] wouldn’t be in this situation. He wouldn’t be president,” he urged. “We can still get our voice heard. We can get to the right people. I’m being serious.”</p>
