OPENING VIDEO: https://drive.google.com/file/d/0B_coTcfotFWGUFJ3dEtVcUFqMFU/view

<p>Boston has been there before, grabbing international headlines because of racial unrest. The battle to integrate the school system in the 1970s left the city so bruised and battered that racially-motivated incidents and harassment were once seen as the norm in some neighborhoods.</p>

<p>And while the city has escaped the unrest that roiled Ferguson, Baltimore and other major US cities, teens here felt the chaos and despair all the same.</p>

<p>Eighteen-year-old Joseph Okafor said the fatal shooting of Brown and others after him was a wake-up call for black Americans that “just because one of us is the figure head of this system does not mean it’s necessarily going to change.”<p>

<p>The profound sense of hopelessness that followed Brown’s death is just as much etched into his memory as the day Obama became the nation’s first black president. Okafor’s same Hyde Park home that was the place of such joy when Obama won in 2008 became a place of sorrow as he sat on the sofa with his then 11-year-old brother, monitoring the outrage in Ferguson on Facebook.</p>

<p>Bereft, he remembers thinking: “That could be me or my little brother.” </p>

<p>And so on Election Day last year, he did what he could to help change the world he lives in – he went to the polls, and he voted for Hillary Clinton. </p> 

<p>Andre Robinson isn’t old enough to vote, but the 15-year-old Dorchester resident has no plans of sitting on the sidelines and waiting. The budding activist feels a responsibility to play a role in easing the mistrust that so often stunts a constructive relationship between police and communities of color. Robinson meets face-to-face with officers through a community program, discussing their relationship with minority communities and the recent shootings of black men.</p>

<p>Robinson recalled one officer say: “Things like this are happening because no one understands each other anymore and no one takes the time to understand.”</p>

PHOTO: Rasheem Muhammad headshot
https://drive.google.com/a/globe.com/file/d/0B6qoESMQllc4N2xlRDRtOHNFbHM/view?usp=sharing
CAPTION: Rasheem Muhammad in a classroom at his school.

<p>But for 17-year-old Rasheem Muhammad,cq it’s simple: “If you’re born black you know what bias is.”</p>

<p>Muhammad lived in Dorchester until he was 9, and went to school where he said most of the students looked like him. He never noticed how segregated his life was until his mother’s sickle cell worsened, and he left the city to live with an uncle in Whitman, a small, white suburban community in Plymouth County.</p>

<p>He said he could count on one hand the number of black students at his school there. He was treated differently and began to feel his blackness. Some white classmates used phrases like, “Yo, what’s up bro, you my dawg, and you’re my homie,” when they talked to him. A white friend of his mother’s friend, who was caring for Muhammad while his mother was in the hospital, took to calling him “Blacky.”</p>

<p>“I kept on continuously being reminded I was different,” said Muhammad, whose mother died in 2014. The year Obama won, Muhammad’s mother told him anything was possible. He never forgot that.</p>

<p>Reflecting on this year’s election, Muhammad, who returned to Boston to live with his aunt in 2015, said: “Struggle is a part of life. Who has time to stress about a bunch of white politicians?”</p>

PHOTO QUAD: with VISUAL PULL QUOTES 

PHOTO: Raymani https://drive.google.com/open?id=0B6qoESMQllc4cWFMNjg3ZXkwRTQ
VISUAL PULLQUOTE: Raymani Walker, 19: 
“He was the first president I paid attention to; before that I couldn’t tell you who the other presidents were or what they did. He was my first president.” 

PHOTO Joseph: https://drive.google.com/open?id=0B6qoESMQllc4N2xlRDRtOHNFbHM 
VISUAL PULL QUOTE Joseph Okafor, 18: 
“Obama was the best, one of the greatest presidents we ever had. He’s done a lot of great things, but the divide with race... that is just so much deeper.”

PHOTO Steven: https://drive.google.com/open?id=0B6qoESMQllc4YzlFTHBGQkE5SWM 
VISUAL PULLQUOTE Steven Jackson, 17: 
“(Obama) was kind of like the Michael Jackson to the world... a huge inspiration for a lot of African-Americans to just come up and defy against the odds.”

PHOTO Keondre: https://drive.google.com/open?id=0B6qoESMQllc4UmRrZDZKMmI1TWM
VISUAL PULLQUOTE Keondre McClay, 17: 
“Every time you hear someone got shot... that doesn’t make it easier to deal with, but it’s like if nothing is changing what do you do other than make change yourself.”

<p>Steven Jackson said he and his friends are just trying to survive. The 17-year-old from Mattapan worries that his reality of being seen as a threat will not change.</p>

<p>Over the summer, the teen and several friends were stopped by police in downtown Boston, where they said officers asked if they could speak with the young men because “you guys look suspicious,” Jackson recounted. He’s had high-beam lights flashed from a police cruiser into his face as he walked with a friend. And he and friends have been pulled over and accused of being “loud and rowdy.”</p>

<p>“Being a young black man in America today puts fear into our hearts,” Jackson said. “We’re targeted as monsters and villains when the truth is we’re just the same as any other person in this world.”</P>

<P>But Jackson, an honor roll student and athlete, says his education places him closer to his goal each day. </p>

<p>“The opportunities for me, the doors for me are never closed as long as I keep going, keep pushing,” he said.</p>

<p>He finds hope, he says, for a better future because of Obama, a black man who defied the odds.</p>


VIDEO: Portrait slideshow of every kid in the story (meant to bookend the top video). Will work with Anush to identify which photos go into this portrait at the end. 
https://drive.google.com/file/d/0B_coTcfotFWGaFRZUjg1ZDEzaVk/view

BYLINE (post-script): 

This story was reported by Akilah Johnson in Ferguson and Baltimore, Jan Ransom in Boston, with multimedia by Keith Bedford. It was written by Akilah Johnson.
The story was edited by Shira Center. Photos were edited by William Greene. It was produced by Greg Opperman, Brendon Battebury, and Lauren Shea.


