VIDEO:  VIDEO TK FROM KEITH ON BOSTON

<p>Boston has been there before, grabbing international headlines because of racial unrest. The city’s bitter-battle to integrate the school system in the 1970s left Boston so bruised and battered that racially-motivated incidents and harassment were once was seen as the norm in some neighborhoods.
And while the city has escaped the unrest that roiled Ferguson, Baltimore and other major cities throughout the country, the teens here felt the chaos and despair all the same.</p>

<p>“If you’re born black you know what bias is,” said 17-year-old Rasheem Muhammad.</p>

PHOTO: Rasheem Muhammad headshot
https://drive.google.com/a/globe.com/file/d/0B6qoESMQllc4N2xlRDRtOHNFbHM/view?usp=sharing
AUDIO: Rasheem poem clip (approx. 15 seconds)

<p>He lived in Dorchester and went to school where he said most of the students looked like him. He never noticing how segregated his life was until his mother’s sickle cell worsened, and he left the city to live with an uncle in Whitman, a small, white suburban community in Plymouth County.</p>

<p>He said he could count on one hand the number of black students at his school there. He was treated differently and began to feel his blackness. Some classmates used phrases like, “Yo, Bro” when they talked to him — or they would simply stare. Once, a student remarked, “Oh, you’re black.” Later a white friend of his mother’s friend, who was caring for Muhammad while his mother was in the hospital, took to calling him “Blacky.”</p>

<p>“I kept on continuously being reminded I was different,” said Muhammad, whose mother died in 2014.
The year Obama won, Muhammad’s mother told him anything was possible. He never forgot that.</p>

<p>Reflecting on this year’s election, the Hyde Park resident said: “Struggle is a part of life. Who has time to stress about a bunch of white politicians?”</p>

<p>Michael Brown’s death and the profound sense of hopelessness that followed is just as much etched into Joseph Okafor’s memory as the day Obama became the nation’s first black president — proof that he, the son of Nigerian immigrants, could achieve anything.</p>

<p>The 18-year-old high school senior watched the election results in 2008 with his mother, as his four siblings slept in their Hyde Park home. They screamed with joy when Obama won.</p>

<p>Six years later, that same home became a place of sorrow as Okafor sat on the sofa with his then 11-year-old brother, monitoring the outrage in Ferguson on Facebook.</p>

<p>Bereft, he remembers thinking: “That could be me or my little brother.”</p>

PHOTO QUAD: with VISUAL PULL QUOTE and SINGLE AUDIO
PHOTO: Raymani https://drive.google.com/open?id=0B6qoESMQllc4cWFMNjg3ZXkwRTQ
VISUAL PULL QUOTE

PHOTO Joseph: https://drive.google.com/open?id=0B6qoESMQllc4N2xlRDRtOHNFbHM 
VISUAL PULL QUOTE

PHOTO Steven: https://drive.google.com/open?id=0B6qoESMQllc4YzlFTHBGQkE5SWM 
VISUAL PULLQUOTE

PHOTO Keondre: https://drive.google.com/open?id=0B6qoESMQllc4UmRrZDZKMmI1TWM
VISUAL PULLQUOTE

AUDIO QUOTE: 

<p>And here in Boston, the seeds of mistrust grow deeper with each police officer who takes a life walks away free of prosecution.</p>

<p>Like the Boston police officer who shot and killed Steven Jackson’s cousin XXXX, XX in 2010. The Mattapan teen said his family still has unanswered questions as to what happened that night. The officer was not prosecuted, and the loss of a loved one “still weighs on our hearts today,” he said. 
The shooting coupled with Jackson’s own negative experiences with the police leaves him concerned that not much will change.</p>

<p>Over the summer, the 17-year-old and several friends were stopped by police in downtown Boston, where officers asked if they could speak with the young men because “you guys look suspicious,” Jackson recounted. He’s had high-beam lights flashed from a police cruiser into his face as he walked with a friend. And he and friends have been pulled over and accused of being “loud and rowdy.”</p>

<p>“Being a young black man in America today puts fear into our hearts,” Jackson said. “We’re targeted as monsters and villains when the truth is we’re just the same as any other person in this world.”</p>

<p>And still he finds hope for a better future because of Obama, a black man who defied the odds.</p>

VIDEO: Portrait slideshow of every kid in the story (meant to bookend the top video). Will work with Anush to identify which photos go into this portrait at the end. 
AUDIO QUOTE:  Approx. 30 seconds of rasheem’s poem

