<p>FERGUSON, Mo. — He sat in the front pew, listening as the pastor of Prince of Peace Missionary Baptist Church preached about the blessings bestowed on those with a humble spirit and audacious dreams.</p>

<p>“Obama had only been a senator for 768 days when God had put greatness in his spirit to aspire to the greatest office in the world,” said Rev. Willie E. Kilpatrick, wiping the sweat from his brow as 17-year-old Waiel Turner and the congregation shouted in agreement. “He had a dream, and he was careful with his dream because there were some people [who] told him he was too young to want to have an office that high.”</p>

<p>“Be careful that you don’t share big dreams with lil’ people.”</p>

<p>Turner has big dreams too: Graduate high school, go to the Air Force, retire as a colonel or general, and in 2042, follow in Obama’s footsteps, becoming president of the United States. The teenager’s mama always told him if a black man raised by his grandparents could become president, then a black boy from Missouri could grow up and do the same.</p>

<p>But there is something else that he and his peers believe to be true too: Black lives are not valued the same as others. That, he said, was evident more than two years ago when Michael Brown’s body lay bloodied and uncovered in the street some seven miles from where Turner now worshiped and dreamed on a chilly Sunday afternoon.</p>

PHOTO TRIPTIC

PHOTO : https://drive.google.com/a/globe.com/file/d/0B6qoESMQllc4MHpLc1dmMm5XZDA/view?usp=sharing
PHOTO CAPTION:  Members of the Village, a community mentoring program to offer support to young black men, hold hands as they pray in Ferguson, Mo. 

PHOTO:  https://drive.google.com/a/globe.com/file/d/0B6qoESMQllc4R1djVU82aEMtNk0/view?usp=sharing
PHOTO CAPTION: Ronald Robinson stands on a corner waiting to clean the windows of stopped cars in Baltimore, Mo. 

PHOTO:  TK FROM BOSTON 
PHOTO CAPTION:

<p>As the nation’s first black president prepares to leave office, a generation of black teens stand on the cusp of adulthood, eyes wide open, trying to make sense of a world that many of the adults in their lives say they fail to recognize. From the kitchen tables in Ferguson, to the high school hallways and street corners of Baltimore, to the historic neighborhoods of Boston, dozens of black teens question their place in America.</p>

<p>They live in a country that can both elect – then re-elect Obama – while enduring the savage run of police-involved shootings, causing inspiration and desperation to collide. Now, with Donald Trump entering the White House, it largely falls to this generation’s still-growing shoulders to change this paradox – or find a way to live through it and thrive.</p>

<p>For some, it’s a struggle. For others, the answer is clear cut. But on this much they agree: President Obama proved the impossible possible. Now, they will come to know another president,  a man that many of them said ran a campaign with racist and xenophobic overtones.</p>

<p>Turner was too young to remember much of Obama’s first inauguration, but he remembers his second in 2012, saying it “was when I actually woke up.” There’s a possessiveness in the way Turner and his peers talk about Obama. He was – and ever will be – their president.</p>

PHOTO: https://drive.google.com/a/globe.com/file/d/0B6qoESMQllc4REdzZkdRZGp5cDQ/view?usp=sharing
PHOTO CAPTION: A Time magazine with President-elect Donald Trump on the cover sits in a work station at the Prime Time Barber Shop in Ferguson, Mo. 

<p>Donald Trump?</p>

<p>“He’s not my president,” Turner said. Trump is the imminent leader of the country, but there’s no bond, no connection to the man who will be the nation’s 45th president. Still, Turner said, he “can’t be a hater.” Trump won.</p>

<p>Eight years ago, Obama campaigned on a promise of hope and change. His victory prompted a national conversation about whether America was entering a “post-racial society” — with implied hope that the country had found absolution for one of its greatest original sins.</p>

<p>But as Obama fought a tough re-election battle, Trayvon Martin was shot to death in Florida. Then came Eric Garner. Michael Brown. Laquan McDonald. Tamir Rice. Eric Harris. Walter Scott. Freddie Gray. Paul O’Neal. Alton Sterling. Philando Castile.</p>

<p>At a time when prominent examples of black success abounded, young black men were still be seen as a threat walking down the street. What did it mean? How did it happen?</p>

<p>Police officers in Ferguson, Mo., fired tear-gas at protesters demonstrating after Brown’s August 2014 death – and the country watched. And in April 2015, when Gray died after being handcuffed without a seatbelt in a Baltimore police van, Maryland’s harbor city became the site of unrest when the fury over Gray’s death crescendoed. It’s the kind of racial animus Boston knew all too well from its own bitter struggles some 40 years ago -- the wounds of which remain to this day.</p>

<p>“Before the Ferguson protest nobody but us talked about racism,” Angela Davis, a noted scholar on race and activist, said during a Q&A with Princeton University Professor Keeanga-Yamahtta Taylor in Chicago. “Now, every time you turn on the radio or television, everybody is talking about racism.”</p>


VIDEO: FERGUSON STOREFRONT
https://drive.google.com/a/globe.com/file/d/0B6qoESMQllc4M2NQTkx1bjhiZzA/view?usp=sharing

<p>As Ferguson burned and much of the world pontificated about the reasons why, Kayvion Calvert and his parents didn’t really talk about the events that were unfolding just 10-minutes from their home as crowds converged on West Florissant Avenue, a roadway lined with strip malls that could exist in anywhere USA. But Calvert and his family watched on the news as people marched along the thoroughfare, arms raised, shouting, “Hands up, don’t shoot!”</p>

PHOTO TRYPTIC W/ AUDIO AND PULL QUOTES


PHOTO:  https://drive.google.com/a/globe.com/file/d/0B6qoESMQllc4VXpjVmF4SVpwaVk/view?usp=sharing
VISUAL QUOTE:
Caleb Williams, 14, eighth-grader at Lift for Life Academy
“Him being our president that's a blessing because we had our first black president and God knows when -- now that he's leaving -- well, we don't know what other black person will run or will even try to run. Trump, he has a bad record... a lot of great ideas. They might go wrong. We don't know until he tries.”


PHOTO: 
https://drive.google.com/a/globe.com/file/d/0B6qoESMQllc4NlpxTWNScFZVWGs/view?usp=sharing 
AUDIO QUOTE: time code: 12:20
VISUAL PULLQUOTE: 
Kayvion Calvert, 15, sophomore at Normandy High School (time code: 12:20)
“I really started to focus on politics when Barack Obama became president. For me, I feel like it gave me confidence to know that outside of signing and acting I can do anything. I can be the governor. I can be mayor. I can be the next president of the United States if I wanted to. But it’s not something I want to go into because of how sketchy I think it is.” 

PHOTO:  https://drive.google.com/a/globe.com/file/d/0B6qoESMQllc4ZFFJWjB0UkRwUlU/view?usp=sharing
VISUAL PULLQUOTE: 
Waiel Turner, 17, junior at Gateway STEM High School
“Voting is a waste of time. They want you to get out there, but then when you get out there and vote -- and even if someone has the popular vote -- you're not going to win because the Electoral College. So they're still in control in a way. That’s why I think it’s a waste of time,  just for the presidential election. Like the alderman and all that stuff, that matters.” 

<p>At the Prince  of Peace church, just outside Ferguson, Mo., leaders still remind them: “Don’t purposely draw attention to yourself.”</p>

<p>No sagging pants, hoodies, certain jeans and shoes, afros, and dreadlocks.</p>

<p>“That’s the stereotype for a black, African-American male,” the 15-year-old said one recent Sunday evening while sitting on his bed, dishes done and homework next.</p>

<p>And while Obama’s election to the country’s highest office might have given Calvert the confidence to know that “outside of singing and acting I can do anything,” he said it didn’t inspire faith in government because of “how sketchy I think it is.”</p>

<p>“I really started to focus on politics with Barack Obama,” he said.</p>

<p>But, like many of his peers, he wasn’t jolted into awareness and action until Brown’s death.</p>
He was going into the eighth grade, attending classes in the same struggling school district as Brown, and they talked about it a lot. There were writing assignments and debates – both formal and impromptu – about Brown’s death and the aftermath. Some students protested by walking out of class, while others demanded better resources from the school system.</p>

PHOTO: FILE ART OF FERGUSON PROTESTS (SOMETHING THAT SHOWS BLACK PROTESTORS)
PHOTO CAPTION: 

<p>But did any of the protests — inside the school and on the streets — help?</p>

<p>“It was a good thing and a bad thing at the same time,” said 17-year-old Maryah Green, as she stood behind the counter of Natalie’s Cakes &amp; More, a bakery that has recovered -- and expanded -- after being vandalized, the night police cars smoldered and buildings burned when a grand jury declined to indict Officer Darren Wilson for fatally shooting Brown at least six times.</p>

<p>“Obviously, they got the attention they needed, but we’re always referred to now in a negative term,” the life-long Ferguson resident said.</p>

<p>While the some buildings and pockmarked streets bare the scars from what happens when that tension boils over, other changes go beyond the community’s structure, impacting its psyche.</p>

<p>The atmosphere is different, said 18-year-old Kevin Black. “They way people maneuver and get around is a whole lot different.”</p>

<p>People don’t walk as much, Black said, opting to ride the bus or get a ride, and they tend to be less likely to stand around stores – all of which he thinks is a good thing.</p>

<p>“It gives police less reason to investigate,” he said. “They had the right, if they see something suspicious, to investigate it, so that brings people out the way of the police.”</p>

<p>Black is a senior at Riverview Gardens High — in a school district that until recently had been stripped of its accreditation and drained of resources under the state’s controversial student transfer law.</p>

<p>There had been a hope that Obama’s election would bolsters schools like his, that the promise of change that so defined his 2008 campaign would be radical and swift.</p>

PHOTO:  https://drive.google.com/a/globe.com/file/d/0B6qoESMQllc4eDVKRUE1VGxjMjQ/view?usp=sharing
PHOTO CAPTION: Boys involved in the Village wrestle in the leaves on a December day in Ferguson, Mo. 

<p>“Some schools can’t afford everything. Some schools can’t get the resources that they need to stay up. I thought that was going to change,” said 16-year-old Daveon Brown, Black’s schoolmate.
He thought Obama’s ascendency to the White House would ease the deep distrust between police and communities of color that existed long before Brown’s death.</p>

<p>“I thought that was going to change,” the sophomore said. “Things like that.”</p>

<p>But the realities of government bureaucracy quickly tamped expectation, and in the end one man can only do so much, especially, “if everybody in Congress doesn’t agree with what he wants to do,” he said. “So it was kind of: We thought one thing and what we thought, I don’t want to say it didn’t happen but...”</p>

<p>“It’s happening differently than you thought it would happen,” classmate Keyon Moore interjected.
People expected too much from Obama, and when those expectations weren’t realized, the thought was “we’re all just failing,” Moore, 17, explained.</p>

<p>“Everyone depended on him to do everything, but really there were not a lot of people on his side,” he said. “So therefore, it’s not his fault. It’s the government’s fault.”</p>

<p>But, Black said, Obama did more than enough to fulfill his vow that transformation was soon to come, pointing to how the Affordable Care Act, or Obamacare, reshaped the American healthcare system (Republicans are expected to repeal it under Trump). He also cited the president’s call-to-action to reform the criminal justice system, which included signing the Fair Sentencing Act that eliminated mandatory minimum sentences for possession of crack cocaine — a policy long viewed as racially discriminatory.</p>

<p>“I believe he could’ve done more if given more time,” said the high school senior with dreams of going into architecture. “My question to President Obama is: If you had more time, what do you think you could have accomplished?”</p>

PHOTO DIPTYCH: 

PHOTO: https://drive.google.com/a/globe.com/file/d/0B6qoESMQllc4bG5CTGQwZEZZLTA/view?usp=sharing
VISUAL PULLQUOTE: Kevin Black


PHOTO: 
https://drive.google.com/a/globe.com/file/d/0B6qoESMQllc4MmVoWDlIbXpILWc/view?usp=sharing
VISUAL PULLQUOTE:  Daveon Brown