{{> base/base-video 
	hed="Ferguson"
	title="Ferguson"
	poster="assets/img/poster-open.jpg"
	webm="assets/video/open.webm"
	mp4="assets/video/open.mp4"
}}

<p>As Ferguson burned and much of the world pondered the reasons why, Kayvion Calvert and his parents didn’t really talk about the events that were unfolding just 10 minutes from their home as crowds converged on West Florissant Avenue, a roadway lined with strip malls that could exist in anywhere USA. But Calvert and his family watched on the news as people marched along the thoroughfare, arms raised, shouting, “Hands up, don’t shoot!”</p>

<p>At the Prince of Peace Church, just outside Ferguson, leaders still remind them: “Don’t purposely draw attention to yourself.” </p>

<p>No sagging pants, hoodies, certain jeans and shoes, Afros, and dreadlocks.</p> 

{{> photos/ferguson-triptych }} 

<p>“That’s the stereotype for a black, African-American male,” the 15-year-old said one recent Sunday evening while sitting on his bed, dishes done and homework next.</p>

<p>And while Obama’s election to the country’s highest office might have given Calvert the confidence to know that “outside of singing and acting I can do anything,” he said it didn’t inspire faith in government because of “how sketchy I think it is.”</p>

<p>“I really started to focus on politics with Barack Obama,” he said. </p>

<p>But, like many of his peers, he wasn’t jolted into awareness and action until Brown’s death. </p>

<p>He was going into eighth grade, attending classes in the same struggling school district as Brown, and students talked about it a lot. There were writing assignments and debates — both formal and impromptu — about Brown’s death and the aftermath. Some students protested by walking out of class, while others demanded better resources from the school system. </p>

<p>But did any of the protests — inside the school and on the streets — help?</p>

<p>“It was a good thing and a bad thing at the same time,” said 17-year-old Maryah Green, as she stood behind the counter of Natalie’s Cakes &amp; More, a bakery that has recovered — and expanded — after being vandalized in the riots that followed a grand jury decision’s not to indict then-Officer Darren Wilson for fatally shooting Brown, who was struck at least six times. </p>

<p>Obviously, the protestors got the attention they needed, if not necessarily the results, “but we’re always referred to now in a negative term,” the lifelong Ferguson resident said.</p>

<p>While some of the buildings and pockmarked streets bear the scars from what happens when that tension boils over, other changes go beyond the community’s structure, to its psyche.<p>

<p>The atmosphere is changed, said 18-year-old Kevin Black. “The way people maneuver and get around is a whole lot different.”</p>

<p>People don’t walk as much, Black said, opting to ride the bus or get a ride, and they tend to be less likely to stand around stores — all of which he thinks is a good thing. </p>

<p>“It gives police less reason to investigate,” he said. “They had the right, if they see something suspicious, to investigate it, so that brings people out the way of the police.”</p>

<p>Black is a senior at Riverview Gardens High — in a school district that until recently had been stripped of its accreditation and drained of resources under the state’s controversial transfer law that forces the unaccredited school districts to pay for students’ transfers to higher performing schools if they choose. </p>

<p>Millions of teens had hoped Obama’s election would bolster schools like Black's, that the promise of change that so defined his 2008 campaign would be radical and swift. And then reality set in.</p>

{{> base/base-img_figure 
	src="assets/img/Bedford_161210_FERGUSO_027.jpg" 
	caption="Young men involved in the Village wrestle in the leaves on a December day in Ferguson, Mo. "
	fullwidth=true
}}

<p>“Some schools can’t afford everything. Some schools can’t get the resources that they need to stay up. I thought that was going to change,” said 16-year-old Daveon Brown, Black’s schoolmate.</p>

<p>He thought Obama’s ascendancy to the White House would ease the deep mistrust between police and communities of color that existed long before Brown’s death. </p>

<p>“I thought that was going to change,” the sophomore said. “Things like that.”</p>

<p>But the realities of government bureaucracy quickly tamped expectation, and, in the end, one man can only do so much, even a president, especially, “if everybody in Congress doesn’t agree with what he wants to do,” he said. “So it was kind of: We thought one thing and what we thought, I don’t want to say it didn’t happen, but . . .”</p>

<p>“It’s happening differently than you thought it would happen,” classmate Keyon Moore interjected.</p>

<p>People expected too much from Obama, and when those expectations weren’t realized, the thought was “we’re all just failing,” Moore, 17, explained.</p>

<p>“Everyone depended on him to do everything, but really there were not a lot of people on his side,” he said. “So therefore, it’s not his fault. It’s the government’s fault.”</p>

<p>But, Black said, Obama did more than enough to fulfill his vow that transformation was soon to come, pointing to how the Affordable Care Act, or Obamacare, reshaped the American health care system (Republicans are expected to repeal it under Trump). He also cited the president’s call to action to reform the criminal justice system, which included signing the Fair Sentencing Act that eliminated mandatory minimum sentences for possession of crack cocaine — a policy long viewed as racially discriminatory. </p>

<p>“I believe he could’ve done more if given more time,” said the high school senior with dreams of going into architecture. “My question to President Obama is: If you had more time, what do you think you could have accomplished?” </p>

{{> photos/ferguson-diptych }} 
