<p>FERGUSON, Mo. — He sat in the front pew, listening as the pastor of Prince of Peace Missionary Baptist Church preached about the blessings bestowed on those with a humble spirit and audacious dreams.</p>

<p>“Obama had only been a senator for 768 days when God had put greatness in his spirit to aspire to the greatest office in the world,” said the Rev. Willie E. Kilpatrick, wiping the sweat from his brow as 17-year-old Waiel Turner and the congregation shouted in agreement. “He had a dream . . . ”</p>

<p>Turner has big dreams too: Graduate high school, go to the Air Force, retire as a colonel or general, and, in 2042, follow in Obama’s footsteps, becoming president of the United States. The teenager’s mama had always told him that if a black man raised by his grandparents could become president, then a black boy from Missouri could grow up and do the same.</p>

<p>But there is something else that he and his peers believe to be true: Black lives are not valued the same as others. That, he said, was evident more than two years ago when Michael Brown’s body lay bloodied and uncovered in the street some seven miles from where Turner now worshiped and dreamed on a chilly Sunday afternoon.</p>

{{> photos/preface-triptych }}

<p>As the nation’s first black president prepares to leave office, a generation of black teens stands on the cusp of adulthood, eyes wide open, trying to make sense of a world that many of the adults in their lives say they are struggling to understand. From the kitchen tables in Ferguson, to the high school hallways and street corners of Baltimore, to the historic neighborhoods of Boston, dozens of black teens, in interviews, questioned their place in America.</p>

<p>They live in a country that can elect — then reelect Obama — while enduring the savage run of police-involved shootings, causing inspiration and desperation to collide. It is this generation that will inherit the world that will be shaped by Donald Trump’s presidency, and they must find a way to live through it — and thrive. </p>

<p>For some, it’s a struggle. For others, the answer is clear cut. But on this much they agree: President Obama proved the impossible possible. Now, they will come to know another president, a man who many of them said ran a campaign with racist and xenophobic overtones.</p>

<p>Turner was too young to remember much of Obama’s first inauguration, but he remembers his second in 2012, saying it “was when I actually woke up.” There’s a possessiveness in the way Turner and his peers talk about Obama. He was – and ever will be – <i>their</i> president.</p>

{{> base/base-img_figure 
	src="assets/img/Bedford_161210_FERGUSO_044.jpg" 
	caption="A Time magazine with President-elect Donald Trump on the cover sits in a work station at the Prime Time Barber Shop in Ferguson, Mo."
	fullwidth=true
}}

<p>Donald Trump?</p>

<p>“He’s not my president,” Turner said. Trump is the imminent leader of the country, but there’s no bond, no connection to the man who will be the nation’s 45th president. Still, Turner said, he “can’t be a hater.” Trump won. </p>

<p>In 2008, Obama campaigned on a promise of hope and change. His victory prompted a national conversation about whether America was entering a “post-racial society” — with the implied hope that the country had at last atoned for one of its greatest original sins.</p>

<p>“Such a vision, however well-intended, was never realistic,” the 44th president said Tuesday night during his farewell address.</p>

<p>But as Obama fought a tough reelection battle, Trayvon Martin was shot to death in Florida. Then came Eric Garner. Michael Brown. Laquan McDonald. Tamir Rice. Eric Harris. Walter Scott. Freddie Gray. Paul O’Neal. Alton Sterling. Philando Castile. They represent a string of high-profile, police-involved deaths with varied circumstances and outcomes. But the pattern was numbing.</p>

{{> base/base-ad-slot}}

<p>At a time when prominent examples of black success abounded, young black men were still far too often being seen as a threat walking down the street. What did it mean? How did it happen?</p>

<p>Police officers in Ferguson fired tear gas at protesters demonstrating after Brown’s August 2014 death — and the country watched. And in April 2015, when Gray died after being handcuffed without a seat belt in a Baltimore police van, Maryland’s harbor city became the site of unrest when the fury over Gray’s death crescendoed. It’s the kind of racial animus Boston knew all too well from its own bitter struggles some 40 years ago — the wounds of which remain to this day.</p>

<p>“Before the Ferguson protest, nobody but us talked about racism,” Angela Davis, the noted activist and scholar on race, said during a Q&amp;A with Princeton University professor Keeanga-Yamahtta Taylorcq in Chicago. “Now, every time you turn on the radio or television, everybody is talking about racism.” </p>

<p>But has it helped?</p>
