<div class="photo-quotes">
	{{> base/base-img_figure 
		src="assets/img/Bedford_161130_BALTIMORE_016.jpg" 
		attribution="Jamal Karim, 13"
		caption="“A lot of young people have solutions that's why we need to get our voice heard. My solution is, you feel me, vote them people out. That's why Donald Trump won now because a lot of people didn't care about their vote. We got to grow up with this guy.”"
	}}
	{{> base/base-img_figure 
		src="assets/img/Bedford_161130_BALTIMORE_020.jpg"
		attribution="Neviah Perkins, 13"
		caption="“I would say to Barack Obama, ‘I appreciate you, and you made our race proud.’ He just he made our race look … beautiful.”"
	}}
	{{> base/base-img_figure 
		src="assets/img/Bedford_161130_BALTIMORE_019.jpg" 
		attribution="Ahmaree Perkins, 12"
		caption="“I love my city, but I hate how we’re living. It's not even just Baltimore. Other cities are going through [this] type of stuff now too. So black lives matter, that's why they be protesting. They feel that we should have freedom, that we should have peace.”"
	}}
	{{> base/base-img_figure 
		src="assets/img/Bedford_161130_BALTIMORE_022.jpg"
		attribution="Jamal Karim, 13"
		caption="“A lot of young people have solutions that's why we need to get our voice heard. My solution is, you feel me, vote them people out. That's why Donald Trump won now because a lot of people didn't care about their vote. We got to grow up with this guy.”"
	}}
</div>