<div class="photo-diptych">
	{{> base/base-img_figure 
		src="assets/img/Bedford_161130_BALTIMORE_033.jpg" 
		caption="Connexions High School student Da’Shawn Simon writes songs on his mobile phone in his room."
	}}
	{{> base/base-img_figure 
		src="assets/img/Bedford_161129_BALTIMORE_048.jpg"
		caption="Coppin Academy student Na’im Smith waits for his bus to take him to school in Baltimore."
	}}
</div>
