<div class="photo-quotes">
	{{> base/base-img_figure 
		src="assets/img/Bedford_161221_OBAMA_LEGACY_002.jpg" 
		attribution="Raymani Walker, 19"
		caption="“He was the first president I paid attention to; before that I couldn’t tell you who the other presidents were or what they did. He was my first president.”"
	}}
	{{> base/base-img_figure 
		src="assets/img/Bedford_170105_OBAMA_LEGACY_001.jpg"
		attribution="Joseph Okafor, 18"
		caption="“Obama was the best, one of the greatest presidents we ever had. He’s done a lot of great things, but the divide with race... that is just so much deeper.”"
	}}
	{{> base/base-img_figure 
		src="assets/img/Bedford_161221_OBAMA_LEGACY_009.jpg" 
		attribution="Steven Jackson, 17"
		caption="“(Obama) was kind of like the Michael Jackson to the world... a huge inspiration for a lot of African-Americans to just come up and defy against the odds.”"
	}}
	{{> base/base-img_figure 
		src="assets/img/Bedford_170105_OBAMA_LEGACY_003.jpg"
		attribution="Keondre McClay, 17"
		caption="“Every time you hear someone got shot... that doesn’t make it easier to deal with, but it’s like if nothing is changing what do you do other than make change yourself.”"
	}}
</div>