<div class="photo-quotes">
	{{> base/base-img_figure 
		src="assets/img/Bedford_161210_FERGUSO_003.jpg" 
		attribution="Caleb Williams, 14."
		caption="“Him being our president that's a blessing because we had our first black president and God knows when -- now that he's leaving -- well, we don't know what other black person will run or will even try to run. Trump, he has a bad record. But, Trump, he has a lot of great ideas. They might go wrong. We don't know until he tries.”"
	}}
	{{> base/base-img_figure 
		src="assets/img/Bedford_161210_FERGUSO_019.jpg"
		attribution="Kayvion Calvert, 15."
		caption="“I really started to focus on politics when Barack Obama became president. For me, I feel like it gave me confidence to know that outside of signing and acting I can do anything. I can be the governor. I can be mayor. I can be the next president of the United States if I wanted to. But it’s not something I want to go into because of how sketchy I think it is.”"
	}}
	{{> base/base-img_figure 
		src="assets/img/Bedford_161211_FERGUSON_007.jpg" 
		attribution="Waiel Turner, 17."
		caption="“Voting is a waste of time. They want you to get out there, but then when you get out there and vote -- and even if someone has the popular vote -- you're not going to win because of the Electoral College. So they're still in control in a way. That’s why I think it’s a waste of time,  just for the presidential election. Like the alderman and all that stuff, that matters.”"
	}}
</div>
