<div class="photo-diptych">
	{{> base/base-img_figure 
		src="assets/img/Bedford_161213_FERGUSON_011.jpg" 
		caption="Kevin Black is a student at Riverview Gardens High School in St. Louis."
	}}
	{{> base/base-img_figure 
		src="assets/img/Bedford_161213_FERGUSON_013.jpg"
		caption="Daveon Brown is also at Riverview."
	}}
</div>
