<div class="triptych">
	{{> base/base-img_figure 
		src="assets/img/Bedford_161210_FERGUSO_029.jpg" 
		caption="Members of the Village, a community mentoring program to offer support to young black men, hold hands as they pray in Ferguson, Mo."
	}}
	{{> base/base-img_figure 
		src="assets/img/Bedford_161128_BALTIMORE_111.jpg"
		caption="Ronald Robinson stands on a corner waiting to clean the windows of stopped cars in Baltimore."
	}}
	{{> base/base-img_figure 
		src="assets/img/Bedford_170108_OBAMA_LEGACY_003.jpg" 
		caption="A man makes his way through Dudley Square in Boston in early January."
	}}
</div>
