<header class="intro">
  <div class="intro__copy miller-regular">
    <h1 class="intro__hed miller-banner-regular">Unbowed</h1>
    <h2 class="intro__subhed">A generation of black youth in America struggle with Obama's legacy and their future</h2>
    <p class="intro__credit">Written and reported by Akilah Johnson, with Jan Ransom</p>
    <p class="intro__credit">Visuals by Keith Bedford</p>
  </div>
  <picture class="intro__hero">
  	<!--[if IE 9]><video style="display: none"><![endif]-->
  	<source
  		srcset="assets/img/unbowed_tiled.jpg"
  		media="(max-width: 768px)" />
    <!--[if IE 9]></video><![endif]-->
    <img
    		srcset="assets/img/unbowed_tiled_desktop.jpg"
    		class="intro__image"
    		alt="unbowed" />
  </picture>
  <div class="intro__gradient"></div>
  {{> graphic/audio
  	class="audio-intro"
  	title="Intro"
  	audio-src='assets/sound/intro-song.mp3'
  }}
</header>
