<footer role='contentinfo' class='g-footer'>
	<p class='g-footer--credits'>This story was reported by Akilah Johnson in Ferguson and Baltimore, Jan Ransom in Boston, with multimedia by Keith Bedford.</p>
	<p class='g-footer--credits'>The story was edited by Shira Center. Photos were edited by Bill Greene. It was produced by Greg Opperman, Brendon Attebury, Kevin Wall, and Lauren Shea.</p>
	<p class='g-footer--credits'>Opening song, "So High," performed by Kayvion Calvert, 15. Originally performed by John Legend. Poem written and performed by Rasheem Muhammad, 17.</p>
	{{> base/base-teasers}}
</footer>
